a{
  color: rgb(17, 17, 16);
}




.navbar {
  color: #fff;
  background-color: rgb(187, 172, 172);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.icon{
  display: flex;
  justify-content: space-between;
  margin:0 25px 0 25px;
  cursor: pointer;
}

#brand {
  color: rgb(15, 15, 15);
  margin-left: 35px;
  cursor: pointer;
  text-decoration: none;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

#brand:hover {
  background: -webkit-linear-gradient(45deg , #ff0202, rgb(255, 31, 31) , yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
form {
  width: 60%;
  align-items: center;
  margin-left: 20px;

}

.btn {

  text-decoration: none;

}

.form-control {
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  width: 100%;


}

#cart-btn {
  font-size: 30px;
  color: black;
  margin-right: 20px;

}

#user {
  color: black;
  font-size: 30px;
  border: none;
}
